body {
    font-family: sans-serif;
    margin: 0;
    overflow: overlay;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.absolute {
    position: absolute;
}

#stream {
    width: 100%;
    filter: brightness(0.5);
    filter: blur(2px);
}
